<!DOCTYPE html>
<html>
  <head>
    <title>크립토엔젤에 오신것을 환영합니다.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="padding:0px; margin: 0px">
  <div style="width: 100%; min-height: 100vh; background-color: black; display: flex; justify-content: center; align-items: center">
    <img src="/images/temp2.png">
  </div>
  </body>
</html>
