<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="padding:0px; margin: 0px">
  <div style="width: 100%">
    <img src="/images/temp2.png">
  </div>
  </body>
</html>
